.wrapper {
    width: 50vw;

    .photoContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        .photoHolder{
            margin: 8px 4px;
            img{
                height: 150px;
                object-fit: fill;
            }
        }
    }
    .totalHolder{
        text-align: start;
    }
}

@media only screen and (max-width: 480px) {
    .wrapper {
        width: 100%;
    
        .photoContainer{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .photoHolder{
                margin: 8px 4px;
                img{
                    height: 20vh;
                    width: calc(33% - 4px);
                    object-fit: contain;
                }
            }
        }
        .totalHolder{
            text-align: start;
        }
    }
}