.artBanner{
    height: 100vh;
    background-image: url("./../../../public/assets/art-banner-image.png") ;
    background-size: auto, cover;
    background-repeat: no-repeat;
    background-position: 75% 20%;
    background-clip: border-box;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: var(--padding);
    color: black;
}
.artBanner .contents{
    width: 100%;
    /* background-color: rgba(52, 52, 52, 0.249); */
    position: relative;
    bottom: 4vh;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.599);
    padding: var(--padding) var(--padding);
}
h1,p, .button-wrapper{
    padding: var(--padding-small);
}
.button-wrapper{
    width: 100%;

}

@media only screen and (max-width: 480px){
    .artBanner{
    background-position: center 20%;
    }
}

