.photoBanner{
    margin-top: var(--nav-height);
    height: calc(100vh - var(--nav-height));
    background-image: url("../../../public/assets/PhotoBanner.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 75%;
    background-clip: border-box;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: var(--padding);
    color: white;
}
.photoBanner .contents{
    width: 100%;
    background-color: rgba(52, 52, 52, 0.249);
    position: relative;
    border-radius: 5px;
    padding: var(--padding) var(--padding);
    animation: slide-up 0.7s ease-in forwards;
}
@keyframes slide-up {
    0%{
        bottom: -4vh;
    }
    100%{
        bottom: 4vh;
    }
}
h1,p, .button-wrapper{
    padding: var(--padding-small);
}
p{
    line-height: 24px;
}
.button-wrapper{
    width: 100%;

}

