.loader-container{
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    background-color: rgba(239, 247, 255, 0.184);

    .loader-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}