header{
    width: 100%;
    min-height: var(--nav-height);
    border-bottom: 1px solid rgba(0, 0, 0, 0.195);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 9999;
    grid-area: header;
}
#contactIcon{
    margin: 0 4px ;
    height: fit-content;
    width: fit-content;
}
.nav-wrapper{
    height: 100%;
    margin: 0 var(--margin) 0 var(--margin);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brandwrapper{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: var(--brand-font-size);
    height: 100%;
    line-height: 24px;

    #brandname{
        text-decoration: none;
        color: black;
        cursor: pointer;
        .name{
            font-weight: 500;

            display: block;
            font-size: var(--sub-brand-font-size);
        }
    }
}
.brandwrapper img{
    margin-right: 8px;
    height: 50%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: var(--nav-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: var(--margin-small);
}