header{
    width: 100%;
    height: var(--nav-height);
    border-bottom: 1px solid rgba(0, 0, 0, 0.195);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 9999;
    grid-area: header;
}
#contactIcon{
    margin: 0 4px ;
    height: 16px;
    width: 16px;
}
.nav-wrapper{
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brandwrapper{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: var(--brand-font-size);
    height: 100%;
    line-height: 24px;
    .brand-logo{
        opacity: 1;
    }
    #brandname{
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        img{
            margin: 0;
            width: 100px;
        }
    }

    #brandname{
        text-decoration: none;
        color: black;
        cursor: pointer;
        .name{
            font-weight: 500;

            display: block;
            font-size: var(--sub-brand-font-size);
        }
    }
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: var(--nav-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: var(--margin-small);
}


@media only screen and (max-width: 480px) {
    header{
        .nav-wrapper{
            width: 100%;
            padding: 0 var(--margin) 0 var(--margin);
        }
    }
    .brandwrapper {
        #brandname{
            img{
                width: 80px;
            }
            
        }
    }

}