.group{
    .photos{
        
        p{
            background-color: rgb(246, 177, 177);
            border-radius: 3px;
            font-size: 14px;
        }
        .photo-row{
            margin-bottom: 8px;
            border-radius: 3px;
            background-color: rgb(200, 242, 200);
            img{
                padding: 8px;
                display: block;
                height: 100px;
                width: 100px;
                object-fit: contain;
            }
            .selected-photo{

                background-color: rgb(84, 185, 84);
                border-radius: 3px;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.348); 
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 14px;
                margin-bottom: var(--margin-small);
                .link{
                    font-size: 14px;
                    max-width: 100%;
                    background-color: transparent;
                    color: white;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                
            }
            span{
                cursor: pointer;
                margin: 4px;
                color: rgba(255, 255, 255, 0.775);
                padding: 0px 4px;
                border-radius: 50%;
                height: 24px;
                width: 24px;
                text-align: center;
                background-color: rgba(0, 128, 0, 0.277);
            }
        }
        
    }
}

@media only screen and (max-width:480px) {
    .photos{
        grid-template-columns: 1fr 1fr;
    }
    .group .photos .photo-row img{
        height: 100%;
        width: 100%;
    }
    .group .photos .photo-row{

        .selected-photo{
            width: 100%;
            align-items: center;
            background-color: #54b954;
            border-radius: 3px;
            box-shadow: 0 1px 3px rgb(0 0 0 / 35%);
            display: flex;
            font-size: 14px;
            justify-content: space-between;
            margin-bottom: var(--margin-small);
            position: relative;

            .link{
                max-width: calc(92%);
            }
            span{
                background-color: rgb(0 128 0);
                right: 0;
                position: absolute;
                z-index: 100;
            }
        }

    } 
}