.carousel{
    width: 100%;
    margin: var(--margin-small) 0 var(--margin) 0;
    // position: relative;
    @keyframes photo-animation {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .images{
        width: 100%;
        min-height: 50vh;
        padding: 5px;
        display: none;
        // box-shadow: 0 4px 10px #c0c0c0;
        border-radius: 5px;
        margin-bottom: 4px;
        position: relative;
        border: 0.5px solid rgba(67, 67, 67, 0.314);
        animation: photo-animation 0.3s ease-in forwards;
        background-color: rgba(238, 238, 238, 0.1);
        &.selected-image{
            display: block;
            img{
                width: 100%;
                max-height: 80vh;
                object-fit: contain;
            }
        }
        
        p#image-info-text{
            font-size: 10px;
            text-align: center;
            font-weight: 600;
            opacity: 0.8;
            position: relative;
            bottom: 0;
        }
        .image-button{
            width: 50px;
            max-height: max-content;
            height: 100%;
            position: absolute;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            opacity: 0;
            &:hover{
                opacity: 1;
                background-color: rgba(0, 0, 0, 0.052);
            }

            &.left{
                left: 0;
                top: 0;
            }
            &.right{
                right: 0;
                top: 0;
            }

        }
        
    }
    .image-nav{
        background-color: rgba(255, 255, 255, 0.145);
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 4px 0;
        
        span.image-selector{
            margin: 5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.24);

            &.selected-nav{
                background-color: rgba(0, 0, 0, 0.519);
            }
        }
    }
    .image-nav-buttons-wrapper{
        display: flex;
        justify-content: space-evenly;
        .nav-button{
            
            display: inline-flex;
            justify-content: space-between;
            
            &.next-button{
                border-radius: 0 10px 10px 0;
            }
        }
        .button:disabled{
            opacity: 0.7;
            pointer-events: none;
        }
    }

}

@media only screen and (max-width: 480px){
    .carousel{
        .images{
            width: 100%;
            min-height: 30vh;
            &.selected-image{
                img{
                    width: 100%;
                    max-height: 80vh;
                }
            }

            .image-button{
                display: none;
            }
        }
    }
}