footer{
    .grid{
        display: grid;
        grid-template-areas: "brand links";
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin: auto;
        .brand-details{
            grid-area: brand;
            justify-self: right;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-right: 8px;
            .brand img{
              opacity: 0.9;
            }
            .subtitle{
                
                width: 80%;
                font-size: 16px;
                line-height: 24px;
                font-weight: 700;
                opacity: 0.8;

                text-align: end;
                margin-top: 16px;
                margin-bottom: 8px;
            }
            .link-container{
                width: fit-content;
                margin: 0;
                display: flex;
                justify-content: flex-start;
                border-top: 1px solid rgba(0, 0, 0, 0.33);
                a{
                    margin-right: 0;
                }
            }
        }
        .quick-links{
            grid-area: links;
            justify-self: left;
            text-align: start;
            padding-left:8px ;
            ul{
                
                text-align: left;
                margin: 0 0 0 auto;
                width: fit-content;
                border-top: 1px solid rgba(0, 0, 0, 0.33);
                li{
                    list-style: none;
                }
            }   
            p{
                width: 100%;
                font-size: var(--font-size);
                line-height: 24px;
                font-weight: 700;
                opacity: 0.8;
            }
            .quickLink{
                text-decoration: none;
                margin: var(--margin-small) 0;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
    width: 100%;
    padding: 5vh 0 0 0;
    height: fit-content;
    background-color: rgba(212, 212, 212, 0.72);
    grid-area: footer;
    
    
    
    a{
        color: rgba(0, 0, 0, 0.627);
        display: inline-flex;
        justify-content: center;
        margin: var(--margin-small);
        &:hover{
            color: rgba(0, 0, 0, 0.879);
            display: inline-flex;
            justify-content: center;
        }

        svg{
            height: 5vh;
            width: 5vh;
        }
    }
     
    .copyright{
        margin-top: var(--margin-small) ;
        text-align: center;
        width: 100%;
        background-color: rgba(147, 147, 147, 0.589);
        font-size: 14px;
        p{
            margin: auto;
            font-weight: bold;
            opacity: 0.75;
            font-size: 13px;
            line-height: 24px;
            padding: 4px 0;
        }
    }
    .no-border{
        border-bottom: none;
    }
} 

@media only screen and (max-width: 480px){
    footer{
        .grid{
            grid-template-columns: 1fr;

            grid-template-areas: "brand" "links";
            .brand-details{
                grid-area: brand;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-right: 0;
                
                .subtitle{
                    width: 100%;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 700;
                    opacity: 0.7;
                    text-align: center;
                    margin-top: 16px;
                    margin-bottom: 8px;
                }
                .link-container{
                    width: fit-content;
                    margin: 0;
                    display: flex;
                    justify-content: flex-start;
                    border-top: 1px solid rgba(0, 0, 0, 0.33);
                    a{
                        margin-right: var(--margin-small);
                    }
                }
            }
            .quick-links{
                grid-area: links;
                text-align: center;
                margin-top: 16px;
                padding-left: 0;
                width: 100%;
                ul{
                    width: 80%;
                    text-align: center;
                    margin: auto;
                    border-top: 1px solid rgba(0, 0, 0, 0.33);
                }   
                p{
                    width: 100%;
                    font-size: var(--font-size);
                    line-height: 24px;
                    font-weight: 700;
                    opacity: 0.7;
                    margin-bottom: 8px;
                }
                .quickLink{
                    text-decoration: none;
                    margin-top: var(--margin-small) ;
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            .copyright{

                margin-top: var(--margin-small) ;
                text-align: center;
                width: 100%;
                background-color: rgba(147, 147, 147, 0.589);
                font-size: 14px;
                p{
                    font-weight: bold;
                    opacity: 0.75;
                    font-size: 14px;
                    line-height: 24px;
                    padding: 4px 0;
                }
            }
        }
        

        
        
        
        
    } 
}