.dashboard{
    width: 90%;
    height: 100%;
    margin-inline: auto;
    display: grid;
    grid-template-areas: 
    "select operation";
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    gap: 8px;

    .selectionPane{
        border-radius: 16px 0 0 16px;
        background-color: rgb(255, 255, 255);
        grid-area: select;
        box-shadow: -2px 0 10px rgb(234, 234, 234);
        height: fit-content;

        .option{
            cursor: pointer;
            width: 100%;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.selected{
                background-color: rgb(224, 224, 224);
                transition: background-color 0.2s linear;
            }

            &:nth-child(1){
                border-radius: 16px 0 0 0;
            }

            &:last-child{
                border-radius: 0 0 0 16px;
            }

            &:hover{
                background-color: rgb(224, 224, 224);
                transition: background-color 0.1s linear;
            }
        }
    }
    .operationPane{
        border-radius: 0 16px 16px 0;
        grid-area: operation;
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 0 10px rgb(234, 234, 234);
        width: 100%; 

        .operation{
            height: 100%;
            max-height: 100%;
            width: 100%;
            max-width:100%;
            display: flex;
            flex-direction: column;
        }
    }
}

//for header
.sticky{
    position: sticky;
    top: 0;
    padding: 16px;

    background-color: white;
    border-radius: 0 16px 0 0;
    margin-bottom: 2px;
    border-bottom: 0.5px solid rgb(182, 182, 182);

    display: flex;
    justify-content: space-between;
    align-items: center;

    button{
        box-sizing: content-box;
        padding: 8px;
        border: none;
        background-color: white;
        cursor: pointer;
        width: 10em;

        &.active{
            color: rgb(59, 61, 71);
            border-bottom: 0.5px solid rgb(59, 61, 71);
            font-weight: bold;
            transition: all 0.2s ease-in-out;
        }

        &:hover{
            background-color: rgb(201, 222, 229);
        }
    }
}

@media only screen and (max-width: 480px){
    .sticky{
        border-radius: 16px 16px 0 0;
        div{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            button{
                width: fit-content;
            }
        }
    }
}

.end{
    height: 10px;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    margin: 16px 16px;
    width: 10px;
    margin-inline: auto;
    border-radius: 50%;
    box-shadow: 0 0 7px inset rgb(133, 132, 132);
}

.view{
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    flex-grow: 100%;
    width: 100%;
    margin-bottom: 16px;

    .card{
        &:nth-last-child(1){
            margin-bottom: 16px;
        }

        display: grid;
        grid-template-areas: 
            "left right";
        grid-template-columns: 80% 20%;

        .left{
            grid-area: left;
        }
        .right{
            grid-area: right;
            display :flex;
            justify-content: space-around;
            align-items: flex-end;

            button{
                padding: 4px 8px;
                border: none;
                font-size: 14px;
            }
        }

        font-size: 14px;
        margin-top: 8px;
        margin-inline: 16px;
        padding: 8px;
        border: 0.5px solid rgb(153, 153, 153);
        cursor: pointer;

        *{
            margin-top: 4px;
            text-align: justify;
        }

        h5{
            font-size: 15px;
        }

        ul{
            list-style: none;
            // display: flex;
            li{
                width: 100%;
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

@media only screen and (max-width: 480px){
    .view{
        width: 100%;
        scrollbar-width: thin;
        .card{
            // width: 100%;
            grid-template-areas: 
            "left"
            "right";
            grid-template-columns: 100%;
            .left{
                *{
                    max-width: 100%;
                    overflow-wrap: break-word;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px){
    .dashboard{
        grid-template-areas: 
        "select"
        "operation";
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 15% 85%;
        padding: 0;

        .selectionPane{
            height: 100%;
            border-radius: 16px;
            width: 100%;

            .option{
                height: 50%;
                &:first-child{
                    border-radius: 16px 16px 0 0;
                }
                &:last-child{
                    border-radius: 0 0 16px 16px;
                }
            }

        }

        .operationPane{
            border-radius: 16px;
            max-width: 100%;
            overflow: auto;
            
        }
    }
}