*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 6px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root{
  --padding:16px;
  --padding-small:8px;
  --font-size: 16px;
  --input-font-size: 14px;
  --nav-font-size: 14px;
  --brand-font-size: 20px;
  --brand-font-line-height: 24px;
  --sub-brand-font-size:16px;
  --line-height:24px;

  --nav-height:9vh;
  --nav-height-mobile:8vh;
  --margin:16px;
  --margin-small:8px;
  --margin-mobile: 16px;

  --h1-font-size:68px;
  --h1-line-height:72px;

  --card-shadow: 1px 2px 10px rgba(0, 0, 0, 0.185);
  
}


@media only screen and (max-width: 480px) {
	:root{
    --brand-font-size: 16px;
    --brand-font-line-height: 24px;
    
  --sub-brand-font-size:14px;
    --margin: var(--margin-mobile);
    --nav-height: var(--nav-height-mobile);
    --padding:16px;
  --input-font-size: 14px;


    --h1-font-size:42px;
    --h1-line-height:48px;
    
  --nav-font-size: 14px;
  }
}
/* Extra Small Devices, Phones
@media only screen and (min-width: 480px) {
	
} */

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
	
}

/* width */
