.aboutMe{
    margin: 10vh 0;
    padding: 10vh var(--padding);
    height: 70vh;
    background-color: rgb(243, 243, 243);
    text-align: center;
    align-content: space-around;
    justify-content: space-around;
}
.aboutMe .wrapper{
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.aboutMe .wrapper .photo-container{
    width: 40%;
    height: 80%;
    position: absolute;
    background-color: #ADDBDE;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.31);
    border-radius: 5px;
}
.aboutMe .wrapper .photo-container .photo{
    width: 50%;
    height: 50%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    background-image: url("../../../public/assets/programming-g23b1f4e10_640.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutMe .wrapper .main-content{
    width: 70%;
    height: 90%;
    position: absolute;
    right: 0;
    background-color: #F8F5E6;
    text-align: center;
    padding: var(--padding) calc(70%/4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.449);
    border-radius: 5px;
}
.aboutMe h1{
    font-weight: normal;
    font-size: 48px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.448);
    
}
.aboutMe p.name{
    font-weight: 700;
    font-size: 24px;
}


@media only screen and (max-width: 480px){
    .aboutMe h1{
        font-weight: normal;
        font-size: 40px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.448);
        margin-top: 10vh;
    }
    .aboutMe p.name{
        font-weight: 700;
        font-size: 24px;
    }
    .aboutMe p.about-text{
        font-size: 16px;
    }
    .aboutMe{
        height: calc(100vh - var(--margin)) ;
        margin: var(--margin) 0;
        padding: 5vh var(--padding);
    }
    .aboutMe .wrapper{
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .aboutMe .wrapper .photo-container{
        width: 80%;
        height: 40%;
        position: absolute;
        background-color: #ADDBDE;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
    }
    .aboutMe .wrapper .photo-container .photo{
        width: 50%;
        height: 50%;        
    }
    
    .aboutMe .wrapper .main-content{
        width: 100%;
        height: 70%;
        position: absolute;
        background-color: #F8F5E6;
        text-align: center;
        padding: var(--padding) calc(10%);
        top: 30%;
    }
}