.editor{
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 7px rgb(211, 211, 211);
  padding: 24px;
}

@media only screen and (max-width: 480px){
  .editor{
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 7px rgb(211, 211, 211);
    padding: 24px;
  }
}